.vector-image{
    position: absolute;
    top:56px ;
    z-index: -1;
    height: 100px;
    width: 100%;
}


.Logo{
    height: 70px;
    width: 70px;
    margin: 0;
    
}

@media(min-width:586px){
    .vector-image{
        position:absolute;
        top:60px;
    }
}

@media(min-width:806px){
    .vector-image{
        position: absolute;
        top: 100px;
        height: 129px;
        
    }
}

